body {
	background: url("../images/main-background.jpg");
}

html, body {
	margin: 0;
	height: 100%;
}

header {
	display: flex;
	align-items: center;
	background-color: white;
	border-bottom: solid #A9A9A9;
	border-width: 2px;
}



h1 {
	width: 25%;
	background-color: #4aaaa5;
	color: white;
	padding: 20px;
	font-size: 25px;
	margin-left: 30px;
	margin-bottom: 0px;
	margin-top: 0px;
}

h2, h3 {
	border-bottom: solid #A9A9A9;
	padding-bottom: 20px;
	color: #4aaaa5;
	font-size: 25px;
}

<<<<<<< HEAD
h4 {
	position: absolute;
	bottom: 0px;
	background-color: #4aaaa5;
	padding: 12px;
	color: white;
	text-align: center;
	width: 277px;
}

p {
	font-family: calibri;
	color: #708090;
=======
p {
	font-family: calibri;
	color: #708090;

>>>>>>> 759a6814d7ea717d00b0119683bed7c6d1eff6e6
}

a {
	font-family: calibri;
	color: #708090;
	margin: 5px;
	text-decoration: none;

}
.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}

.footer {
	height: 50px;
	background-color: #A9A9A9;
	text-align: center;
<<<<<<< HEAD
	position: relative;
=======
>>>>>>> 759a6814d7ea717d00b0119683bed7c6d1eff6e6
}

#spacing {
	width: 50%;
}

#links {
	width: 25%

}
.container {
	display: flex;
	align-items: flex-start;
<<<<<<< HEAD
	position: relative;
=======
>>>>>>> 759a6814d7ea717d00b0119683bed7c6d1eff6e6
}

#ralph-photo {
	float: left;
	margin-right: 20px;
}

#contact-info {
<<<<<<< HEAD
	width: 300px;
	height: 200px;
	background-color: white;
	margin: 30px;
	padding: 10px 30px 30px 30px;
	position: relative;
=======
	width: 40%;
	background-color: white;
	margin: 30px;
	padding: 10px 30px 30px 30px;
>>>>>>> 759a6814d7ea717d00b0119683bed7c6d1eff6e6
}

#main-bio, #contact {
	background-color: white;
	margin: 30px;
	padding: 10px 30px 30px 30px;
}

.link-image {
	margin-right: 10px;
}

<<<<<<< HEAD

input {
	vertical-align: middle;
}

div.image {
	margin: 15px;
	padding: 15px;
	float: left;
	clear:	none;

}

.image {
	display: flex;
	flex-direction: column;
	position: relative;
}


#portfolio {
	background-color: white;
	margin: 30px;
	padding: 30px;
	width: 70%;
}


}
form {
	display: flex;
	flex-direction: column;
}
=======
input {
	vertical-align: middle;
}
>>>>>>> 759a6814d7ea717d00b0119683bed7c6d1eff6e6
