body {
	background: url("../images/main-background.jpg");
}

header {
	background-color: blue;
}

h1, #spacing, #links {
	float: left;
}

h1 {
	width: 25%;
}

#spacing {
	width: 50%;
}

#links {
	width: 25%
}